on: push
jobs:
   job:
      runs-on: ubuntu-latest
      container: azul/zulu-openjdk-alpine:8
      steps:
        - name: Checkout
          uses: actions/checkout@v2

        - name: Build
          run: ./gradlew assemble

        - name: Test
          run: ./gradlew test
