on: push
jobs:
   java-no-names:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2

        - uses: actions/setup-java@v2
          with:
            distribution: zulu
            java-version: "8"

        - run: ./gradlew assemble

        - run: ./gradlew test
